   /*
        font-family: 'Kanit', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        */
        * {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
        }

        .contenedor {

            background: #f5f5f5;
            padding: 60px 0px;

            border-top: 1px solid rgba(128, 128, 128, 0.315);
            border-bottom: 1px solid rgba(128, 128, 128, 0.315);

        }

        .contenedor h3 {
            font-family: 'Montserrat', sans-serif;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 40px;
            text-align: center;
            margin: 0px 10px;
            padding: 40px 0px;
            margin-bottom: 25px;
        }

        .contenedor-modal-cards {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .contenedor-modal-cards .body-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 30px 10px;
            border-radius: 100px 100px 20px 20px;
            padding-top: 10px;
            background: #f5f5f5;
            animation-duration: 2s;
            transition-duration: .5s;
        }

        .contenedor-modal-cards .body-card:hover {
            background-color: #fff;
            background: #fff;
            box-shadow: 0 0 40px #00000014;
            transform: scale(1.05);
        }

        .contenedor-modal-cards .body-card img {
            margin-bottom: 20px;
            border-radius: 50%;
            max-width: 100%;

        }

        .contenedor-modal-cards .body-card p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;

        }


        .modal-shodow {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            background: #0000007d;
            width: 100%;
            height: 100%;


            animation: slideaway 500ms;
            display: none;

        }


        #oleo,
        #acido,
        #trigo,
        #aloeVera,
        #quiabo {
            display: none;

        }




        .body-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #f5f5f5;
            max-width: 520px;
            width: 90%;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 40px #00000059;
            display: flex;
        }

        .active {
            display: block !important;
            opacity: 1;


        }

        .cerrar span {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 24px;
            cursor: pointer;
            font-weight: 700;

        }

        .info-modal {
            background: #fff;
            border-radius: 20px;
            
            margin: auto;
            margin-top: 150px;
            display: table;
            
            padding: 20px 40px;
            padding-bottom: 50px;
            box-shadow: 0 0 20px #00000014;
        }

        .box-img-modal {
            margin-top: -130px;
        }

        .img-modal {
            margin-top: -130px;
            display: table;
            position: relative;
            margin: auto;
            margin-bottom: 20px;

        }

        .info-modal h5 {

            font-size: 24px;
            font-weight: bold;
            color: #00e6d5;
            text-align: center;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .info-modal p {
            line-height: 30px;
            text-align: center;
        }

        @keyframes slideaway {
            from {
                opacity: 0;

            }

            to {

                opacity: 1;

            }

        }

        @media (max-width:767.9px) {
            .body-modal {

                width: 85%;

            }

            .info-modal {
                margin-top: 120px;

            }

            .info-modal p {
                line-height: 20px;
                font-size: 14px;
            }
        }
